*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mabry Pro';
    font-weight: 500;
    background-color: var(--hitam-warna);
    
}

/* Author: DinnerArrafi
https://github.com/ArrafiDinner */

/* Font lists:*/
.Sedgwick {font-family: "Sedgwick Ave", cursive;}
.Roboto {font-family: "Roboto Slab", serif;}
.Noto {font-family: "Noto Sans", sans-serif;}
.Lora {font-family: "Lora", serif;}

/* mau coba pakai root */
:root {
    --biru-gelap: #1b3050;
    --biru-terang: #588bae;
    --putih-warna: #eaeaea;
    --hitam-warna: #222222;
    --merah-warna: tomato;

    --hijo-gelap: #1d2e28;
    --hijau-mid: #18392b;
    --hyjau-Light: #0A5c36;         
    
}

.bold {
    font-weight: 900;
}

/* CSS for Navbar ========================================== */

nav {
    justify-content: space-between; /* Untuk menempatkan elemen di sisi kiri dan kanan */
    align-items: center;

    position: fixed;
    background-color: var(--hitam-warna);
    height: 80px;
    width: 100%;
    border-bottom: solid 2px white;
    /* display: flex ;
    background-color: white;
    justify-content: space-around;
    padding: 20px 5px; */
}

nav ul {
    float: right;
    margin-right: 20px;
    z-index: 5;
    background-color: var(--hitam-warna);
    /* border-bottom: solid .1px white; */
    /* margin-top: 13px; 
    font-weight: bold;
    display: flex;
    list-style: none;
    justify-content: space-between; */
    
}

nav ul li {
    display: inline-block;
    line-height: 75px;
    margin: 0 5px;
    font-weight: bold;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-decoration: none;
    /* color: var(--hitam-warna);
    text-decoration: none;
    padding: 7px 13px;
    margin-left: 50px; */
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 20px ;
    cursor: pointer;
    display: none;
}
#check {
    display: none;
}

a:hover, a.active {
    background-color: white ;
    color: var(--hitam-warna);
    transition: .5s;
}

.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 20px;
    
}
.PClogo {
    display: visible;
}
.MBlogo {
    display: none;
}



/* Body ========================================== */
.div {
    /* background: url("A.png") no-repeat; */
    height: 95vh;
    text-align: center;
    color: white;
    background: none;
    font-size: 24px;
    margin-bottom: 50px;

    display: flex;
    flex-direction: row;
}
.left{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--hitam-warna);
    padding: 4em 0 0 0;
    flex: 1 1 100px ;
}
.right {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5em 0 1em 0;
    flex: 1 1 100px ; */
    height: auto;
    margin-top: 60px;
    font-size: 13px;
    color: white;
    display: flex;
    background-color: var(--hitam-warna);
    
    padding-top: 100px;
    padding-right: 40px;
    flex: 1;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
    
}

.kontak {

    /* height: 100px; */
    font-size: 11px;
    margin-top: 60px;
    background-color: var(--hitam-warna);
    padding: 0 80px;
    width: 500px;
    height: 15px ;
    display: flex;
    align-items: center;
    flex-direction: row;
    /* border: solid 2px white; */
    /* justify-content: center; */
}
.fa-brands {
    font-size: 40px;
    padding-right: 10px;
}

.con {
    font-size: 20px;
    color: white;
    text-decoration: none;
}
.con:hover {
    cursor: pointer;
}

#form {
    text-align: left;
    height: 100vh;
    width: 80%;
    background: none;
    font-size: 15px;
    /* margin: 20vh auto 0 auto;
    padding: 20px;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    border-radius: 4px; */
}

#form h1 {
    padding: 20px;
    
}

#form button {
    float: right;
    padding: 10px;
    margin: 10px 20px 0;
    width: 100px;
    color: white;
    border: solid 2px white;
    border-radius: 4px;
    font-size: 1.2em;
}

.input-control {
    display: flex;
    flex-direction: column;
    background: none;
    padding: 10px;
    margin-left: 10px;
}

.input-control input {
    border: 2px solid #f0f0f0;
    color: white;
	border-radius: 4px;
	display: block;
	font-size: 20px;
	padding: 10px;
    margin: 0 10px 0 0;
}

.L {
    background: none;
    font-size: 18px;
    margin-bottom: 10px;
    
}
.P {
    height: 100px;
    
}

/* .input-control input:focus {
    outline: 0;
} */

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 9px;
    height: 1px;
    background: none;
}

footer {
    /* flex-direction: column; */
    color: wheat;
    background-color: var(--hitam-warna);
    padding: 10px 10px 10px 0px;
    border-top: solid 2px white;
}

/* AA============== scroll ==============AA */

::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-thumb {
    background-color: white; 
    border-radius: 6px; 
    
}
::-webkit-scrollbar-track {
    background-color: var(--hitam-warna);
}

::-webkit-scrollbar-button {
    display: none; 
}


/* ============== BUAT UKURAN TABLET ============== */

@media screen and (max-width: 952px){
    
    .logo { font-size: 25px; padding-left: 50px;}
    .header { font-size: 55px; padding-left: 50px;}

    nav ul li a {font-size: 16px;}

   /* .right {
    
   } */
   
.left {
    padding: 5em 0 0 0;
}
#form {
    background: none;
}

.kontak {

    font-size: 8px;
    margin-top: 60px;
    background-color: var(--hitam-warna);
    padding: 0 30px;
    width: 290px ;
    height: 70px ;
    display: flex;
    align-items: center;
    flex-direction: row;
    border: solid 2px white;
}
}
.con {
    font-size: 16px;
}
footer {
    padding-left: 10px;
    
}

/* ============== BUAT UKURAN MOBILE ============== */

@media screen and (max-width: 629px){
    
    .PClogo {display: none;}
    .MBlogo {display: block;}
    .checkbtn {display: block;}
    #check:checked ~ ul {right: 0;}
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        right: -640px;
        top: 80px;
        transition: all .5s;
        text-align: center;
        background-color: var(--putih-warna);
        z-index: -1;
    }
    nav {border-bottom: solid 83px white;}
    nav ul {margin-right: 1px;}
    nav ul li {display: block; margin: 50px; line-height: 30px;}
    nav ul li a {font-size: 20px ;}
    a:hover, a.active {
        background: white; color: var(--hitam-warna); z-index: 1;}

        
/* ============== body ============== */

.div {
    flex-direction: column;
    margin-bottom: .3px;
}
.right {
    
    align-items: center; 
    margin: 10px;
}
.left {
    padding: 4em 0 0 0;
}

#form {
    height: 80vh;
}

#form button {
    float: none;
    padding: 10px;
    margin: 10px 10px 0 20px;
    width: 80%;
    color: white;
    border: solid 2px white;
    border-radius: 4px;
    font-size: 1em;
}
.kontak {

    font-size: 7px;
    margin-top: 30px;
    margin-left: 40%;
    margin-right: 30%;
    background-color: var(--hitam-warna);
    padding: 10px 40px;
    width: 285px ;

    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: row;
    border: solid 2px white;
    /* justify-content: center; */
}
.fa-brands {
    font-size: 19px;
}

footer {
    margin-top: 470px;
    padding-left: 10px;
}
}













@media only screen and (min-height: 667px) {
    .div {
        height: 100vh;
       }
    .right {
        margin-top: 10px;
    }
       /* SE */
}
@media only screen and (min-height: 740px) {
    .div {
        height: 100vh;
       }
        /*  S8+  */
}
@media only screen and (min-height: 8px) {
    .div {
        height: 91vh;
       }
        /* XR */
}
@media only screen and (min-height: 844px) {
    .div {
        height: 80vh;
       }
        /* XR */
}
@media only screen and (min-height: 896px) {
    .div {
        height: 95vh;
        margin-bottom: 30px;
       }
       
        /* 12 */ 
}

